<section class="doctoral-programs"> 
    <div class="card" style="margin: 10px 10px 10px 10px;">
        <blockquote class="blockquote text-center">
            <p class="mb-0 font-weight-bold display-6">Bourse ou distinctions</p><br>
            <footer class="blockquote-footer">École Doctorale - Université Catholique de Madagascar</footer>
        </blockquote>        
    </div>
    
  <div class="row position-relative mt-n1-9"> 
    <div class="col-md-6 col-lg-4 mt-1-9" *ngFor="let prix of data">
        <div class="card" style="margin-bottom: 10px;">
            <a routerLink="/tous-les-programmes">
                <div class="team-style1 text-center">
                  <img src="{{prix.image}}" class="border-radius-5" alt="..."> <!-- Utiliser la syntaxe Angular [src] pour lier l'attribut src à data[0].imageProgrammes -->
                  <div class="team-info">
                    <h3 class="text-primary mb-1 h4">{{ prix.nom }}</h3> <!-- Utiliser la syntaxe Angular {{ }} pour afficher data[0].nom -->
                    <span class="font-weight-600 text-secondary">{{ prix.poste }}</span> <!-- Utiliser la syntaxe Angular {{ }} pour afficher data[0].description -->
                  </div>
                  <div class="team-overlay" style="background-color: darkred;">
                    <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                        <h3><a href="#" class="text-white">{{ prix.nom }}</a></h3> <!-- Utiliser la syntaxe Angular {{ }} pour afficher data[0].nom -->
                        <p class="text-white mb-0">{{ prix.commentaire }}</p> <!-- Utiliser la syntaxe Angular {{ }} pour afficher data[0].description -->
                        <ul class="social-icon-style1">
                          <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                          <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                          <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
        </div>
      
    </div>
  </div>
</section>