<div>
  <div class="row mt-2">

    <div class="col-md-3 px-1">
      <div class="pb-3">
          <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
              <a routerLink="/foire-aux-question">
              <div class="team-style1 text-center">
                  <img src="assets/images/programes.jpg" class="border-radius-5" alt="...">
                  <div class="team-info">
                      <h3 class="text-primary mb-1 h4">Foire au Question</h3>
                      <span class="font-weight-600 text-secondary">Proposant une gamme diversifiée de programmes académiques, l'École Doctorale s'engage à former les chercheurs de demain et à promouvoir l'excellence dans la recherche à travers des initiatives innovantes et interdisciplinaires.</span>
                  </div>
                  <div class="team-overlay" style="background-color: darkred;">
                      <div class="d-table h-100 w-100">
                          <div class="d-table-cell align-middle">
                              <h3><a href="#" class="text-white">Opportunités de bourses </a></h3>
                              <p class="text-white mb-0">
                                  Notre École Doctorale offre une gamme diversifiée de programmes d'études supérieures conçus pour catalyser la recherche de pointe, encourager l'innovation et former la prochaine génération de leaders dans leurs domaines respectifs. Nos programmes offrent un environnement d'apprentissage stimulant, combinant une formation académique rigoureuse avec des opportunités de recherche de classe mondiale.
                              </p>
                              <ul class="social-icon-style1">
                                  <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                  <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                  <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </a>
          </div>
      </div>

    </div>

    <div class="col-md-6 px-1">
              <div class="pb-3">
                <div class="card text-center">
                    <div class="row card-body">

                        <!-- Le modal -->
                        <ng-template #modalContent>
                            <div class="card modal-header text-center">
                              <h2 class="modal-title">Processus de canditure</h2>
                             
                            </div>
                            <div class="modal-body text-center">
                                D'un point de vue écologique, la citation souligne l'importance de reconnaître que la dégradation de l'environnement a des conséquences directes sur les communautés humaines, en particulier les plus vulnérables. Les écologistes et les scientifiques de l'environnement sont incités à examiner comment les activités humaines impactent la biodiversité, les cycles naturels et la disponibilité des ressources vitales, ce qui a un impact direct sur la société. Les études écologiques peuvent mettre en lumière les conséquences des déséquilibres environnementaux, notamment la perte de biodiversité, les changements climatiques, la déforestation, etc., sur la vie humaine.
            
                                Le concept d'approche intégrale suggéré incite à transcender les cloisonnements disciplinaires traditionnels. Les chercheurs en anthropologie et en écologie peuvent collaborer pour comprendre comment les dynamiques sociétales et environnementales interagissent. Les solutions à la crise socio-environnementale nécessitent une approche transdisciplinaire qui intègre les connaissances des sciences sociales, de l'écologie, de l'économie, de l'éthique et de la politique. En combinant les expertises des deux disciplines, il devient possible de proposer des stratégies plus efficaces pour lutter contre la pauvreté, préserver la dignité des populations marginalisées et protéger la nature.
                                
                                En somme, cette réflexion résonne de manière significative dans le contexte académique de l'anthropologie et de l'écologie en soulignant que la crise socio-environnementale est une crise commune, et que la recherche de solutions efficaces nécessite une approche intégrale qui tienne compte à la fois des aspects sociaux et environnementaux de ces enjeux complexes. Elle encourage ainsi les chercheurs à travailler ensemble pour mieux comprendre et résoudre les problèmes cruciaux de notre temps.
                                
                                Dr. Maurice RABEMANANTSOA
                            </div>
                            <div class="modal-footer text-center">
                                <button mat-button class="btn custom-button" (click)="closeModalMaterial()">Fermer</button>
                            </div>
                          </ng-template>
                          
                          <div class="card col-lg-6 mb-1 mt-1">
                            <img class="rounded-circle mx-auto d-block" src="assets/images/assistanat.png" alt="Generic placeholder image" width="140" height="140">
                            <h2 class="text-center">Processus de canditure</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                            <button class="btn custom-button mb-1" mat-button (click)="openModalMaterial()">Voir plus de details</button>
                          </div>
                  
                      
                  
                          <ng-template #modalEval>
                            <div class="card modal-header text-center">
                              <h2 class="modal-title">Processus d'évaluation des candidatures</h2>
                             
                            </div>
                            <div class="modal-body text-center">
                                D'un point de vue écologique, la citation souligne l'importance de reconnaître que la dégradation de l'environnement a des conséquences directes sur les communautés humaines, en particulier les plus vulnérables. Les écologistes et les scientifiques de l'environnement sont incités à examiner comment les activités humaines impactent la biodiversité, les cycles naturels et la disponibilité des ressources vitales, ce qui a un impact direct sur la société. Les études écologiques peuvent mettre en lumière les conséquences des déséquilibres environnementaux, notamment la perte de biodiversité, les changements climatiques, la déforestation, etc., sur la vie humaine.
            
                                
                            </div>
                            <div class="modal-footer text-center">
                                <button mat-button class="btn custom-button" (click)="closeModalEval()">Fermer</button>
                            </div>
                          </ng-template>

                            <div class="card col-lg-6 mb-1 mt-1">
                                <!-- Contenu de votre carte -->
                                <img class="rounded-circle mx-auto d-block" src="assets/images/candidature-process.png" alt="Generic placeholder image" width="140" height="140">
                                <h2>Processus d'évaluation des candidatures</h2>
                                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                               
                                <button class="btn custom-button mb-1" mat-button (click)="openModalEval()">Voir plus de details</button>
                            </div>
                      

                     
                            <ng-template #modalAdmissions>
                                <div class="card modal-header text-center">
                                  <h2 class="modal-title">Notifications d'admissions</h2>
                                 
                                </div>
                                <div class="modal-body text-center">
                                    D'un point de vue écologique, la citation souligne l'importance de reconnaître que la dégradation de l'environnement a des conséquences directes sur les communautés humaines, en particulier les plus vulnérables. Les écologistes et les scientifiques de l'environnement sont incités à examiner comment les activités humaines impactent la biodiversité, les cycles naturels et la disponibilité des ressources vitales, ce qui a un impact direct sur la société. Les études écologiques peuvent mettre en lumière les conséquences des déséquilibres environnementaux, notamment la perte de biodiversité, les changements climatiques, la déforestation, etc., sur la vie humaine.
                
                                    
                                </div>
                                <div class="modal-footer text-center">
                                    <button mat-button class="btn custom-button" (click)="closeModalAdmissions()">Fermer</button>
                                </div>
                              </ng-template>

                            <div class="card col-lg-6 ">
                                <img class="rounded-circle mx-auto d-block" src="assets/images/admissions-process.png" alt="Generic placeholder image" width="140" height="140">
                                    <h2>Notifications d'admissions</h2>
                                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                                    <button class="btn custom-button mb-1" mat-button (click)="openModalAdmissions()">Voir plus de details</button>
                            </div>


                            
                            <ng-template #modalLogement>
                                <div class="card modal-header text-center">
                                  <h2 class="modal-title">Admissions d'étudiants internationaux</h2>
                                 
                                </div>
                                <div class="modal-body text-center">
                                    D'un point de vue écologique, la citation souligne l'importance de reconnaître que la dégradation de l'environnement a des conséquences directes sur les communautés humaines, en particulier les plus vulnérables. Les écologistes et les scientifiques de l'environnement sont incités à examiner comment les activités humaines impactent la biodiversité, les cycles naturels et la disponibilité des ressources vitales, ce qui a un impact direct sur la société. Les études écologiques peuvent mettre en lumière les conséquences des déséquilibres environnementaux, notamment la perte de biodiversité, les changements climatiques, la déforestation, etc., sur la vie humaine.
                
                                    
                                </div>
                                <div class="modal-footer text-center">
                                    <button mat-button class="btn custom-button" (click)="closeModalLogemment()">Fermer</button>
                                </div>
                              </ng-template>
                            <div class="card col-lg-6">
                                <img class="rounded-circle mx-auto d-block" src="assets/images/admissions-process.png" alt="Generic placeholder image" width="140" height="140">
                                    <h2>Admissions d'étudiants internationaux</h2>
                                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                                    <button class="btn custom-button mb-1" mat-button (click)="openModalLogemment()">Voir plus de details</button>
                            </div>

                    </div>
                  </div>
                </div>
                
    </div>

    <div class="col-md-3 px-1">
      <div class="pb-3">
          <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
              <a routerLink="/evenement">
              <div class="team-style1 text-center">
                  <img src="assets/images/programes.jpg" class="border-radius-5" alt="...">
                  <div class="team-info">
                      <h3 class="text-primary mb-1 h4">Visites virtuelles ou journées portes ouvertes</h3>
                      <span class="font-weight-600 text-secondary">Proposant une gamme diversifiée de programmes académiques, l'École Doctorale s'engage à former les chercheurs de demain et à promouvoir l'excellence dans la recherche à travers des initiatives innovantes et interdisciplinaires.</span>
                  </div>
                  <div class="team-overlay" style="background-color: darkred;">
                      <div class="d-table h-100 w-100">
                          <div class="d-table-cell align-middle">
                              <h3><a href="#" class="text-white">Visites virtuelles ou journées portes ouvertes</a></h3>
                              <p class="text-white mb-0">
                                  Notre École Doctorale offre une gamme diversifiée de programmes d'études supérieures conçus pour catalyser la recherche de pointe, encourager l'innovation et former la prochaine génération de leaders dans leurs domaines respectifs. Nos programmes offrent un environnement d'apprentissage stimulant, combinant une formation académique rigoureuse avec des opportunités de recherche de classe mondiale.
                              </p>
                              <ul class="social-icon-style1">
                                  <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                  <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                  <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </a>
          </div>
      </div>

    </div>
      
    


  </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
