<app-header></app-header>  
<section class="contact">
    <h2>Contactez-nous</h2>
    <div class="contact-info">
      <h3>Coordonnées</h3>
      <p>Adresse : 123 Rue des Docteurs, Ville, Pays</p>
      <p>Téléphone : +01 234 567 890</p>
      <p>Email : info&#64;ecoledoctorale.com</p>
    </div>
    <div class="faculty-directory">
      <h3>Annuaire du corps professoral</h3>
      <ul>
        <li>Professeur John Doe - Professeur en Informatique - johndoe&#64;ecoledoctorale.com</li>
        <li>Professeur Jane Smith - Professeure en Biologie - janesmith&#64;ecoledoctorale.com</li>
        <li>Professeur Mark Johnson - Professeur en Chimie - markjohnson&#64;ecoledoctorale.com</li>
      </ul>
    </div>
</section>    

  <app-footer></app-footer>