<div class="row col-md-12">
  <div class="card mt-2 mr-2 px-2 col-md-3">
    <h2 class="text-center">Les programmes</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let program of data">
        <h2 class="accordion-header" id="flush-heading{{program.id}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                  [attr.data-bs-target]="'#flush-collapse' + program.id" aria-expanded="false" 
                  [attr.aria-controls]="'flush-collapse' + program.id" 
                  (click)="selectProgram(program)">
            {{ program.nom }}
          </button>
        </h2>
      </div>
    </div>
    
  </div>
  
  <div class="col-md-9">
    <section class="doctoral-programs">
      <div class="card" style="margin: 10px 10px 10px 10px;">
        <blockquote class="blockquote text-center">
          <p class="mb-0 font-weight-bold display-6">Voici les programmes de l'École Doctorale de l'Université Catholique de Madagascar.</p><br>
          <footer class="blockquote-footer">École Doctorale - Université Catholique de Madagascar</footer>
        </blockquote>
      </div>
  
      <div class="card" style="margin-left: 10px;margin-right: 10px;" *ngIf="selectedProgram">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" > Aperçu du programme</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Curriculum</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Exigences d'admission</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">objectif : {{ selectedProgram.appercu.objectif }}</div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ selectedProgram.curriculum.nom }}</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">{{ selectedProgram.admission.critere }}</div>
        </div>
      </div>
      
    </section>
  </div>
</div>
