<section class="scholarships">
    <div class="row mt-2 px-2">
        <div class="col-md-3 px-1">
            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
                    <a routerLink="/programmes">
                    <div class="team-style1 text-center">
                        <img src="assets/images/programes.jpg" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Les programmes</h3>
                            <span class="font-weight-600 text-secondary">Proposant une gamme diversifiée de programmes académiques, l'École Doctorale s'engage à former les chercheurs de demain et à promouvoir l'excellence dans la recherche à travers des initiatives innovantes et interdisciplinaires.</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Les programmes</a></h3>
                                    <p class="text-white mb-0">
                                        Notre École Doctorale offre une gamme diversifiée de programmes d'études supérieures conçus pour catalyser la recherche de pointe, encourager l'innovation et former la prochaine génération de leaders dans leurs domaines respectifs. Nos programmes offrent un environnement d'apprentissage stimulant, combinant une formation académique rigoureuse avec des opportunités de recherche de classe mondiale.
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>

            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px; width: 100%;">
                    <a routerLink="/bourse-financement">
                    <div class="team-style1 text-center">
                        <img src="assets/images/bourse.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Bourses d'Études</h3>
                            <span class="font-weight-600 text-secondary">Nous vous encourageons à consulter notre site web pour plus d'informations sur les types de bourses disponibles, les critères d'admissibilité et les dates limites de demande.</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Bourses d'Études</a></h3>
                                    <p class="text-white mb-0">
                                        L'École Doctorale de l'Université Catholique de Madagascar s'engage à soutenir l'excellence académique et à offrir des opportunités équitables d'accès à l'éducation supérieure. Dans le cadre de cet engagement, nous proposons un certain nombre de bourses d'études aux étudiants exceptionnels qui démontrent un fort potentiel académique, une motivation exceptionnelle et un engagement envers l'excellence.
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>

            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px; width: 100%;">
                    <a routerLink="/admissions">
                    <div class="team-style1 text-center">
                        <img src="assets/images/admissions.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Processus d'Admission</h3>
                           
                            <span class="font-weight-600 text-secondary"> Le processus d'admission à l'École Doctorale de l'Université Catholique de Madagascar offre aux candidats du monde entier une opportunité d'intégrer une communauté académique dynamique via une évaluation minutieuse des dossiers .</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Processus d'Admission</a></h3>
                                    <p class="text-white mb-0">
                                        L'École Doctorale de l'Université Catholique de Madagascar accueille les candidatures d'étudiants talentueux et motivés du monde entier. Notre processus d'admission est conçu pour identifier les candidats les plus prometteurs et leur offrir l'opportunité de rejoindre notre communauté académique dynamique. 
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>


        </div>


        <div class="col-md-6 px-1">
            <div class="pb-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center" style="color: darkred;">Presentation de l'ecole doctorale de l'Université Catholique de Madagascar</h1>
                        <p class="px-2">
                            🎓 Explorez de nouveaux horizons académiques à l'Université Catholique de Madagascar! 🌍 <br> <br>

                            L'Ecole Doctorale de l'UCM est intitulée : « Ethique pour le
                            Développement Humaiin et Social - Juridique et Politique » (EDHS-
                            JP).
                            Habilitée en 2015, elle est fonctionnelle à partir de l'année
                            Universitaire 2016-2017.<br> <br>
                            Elle accompagne les doctorants dans leurs activités de recherche de troisième cycle aboutissant normalement à une soutenance de thèse pour l'obtention d'un diplôme de Doctorat.
                            Contacts : Ecole Doctorale de l'UCM<br> <br>
                            Université Catholique de Madagascar<br> <br>
                            Ambatoroka<br> <br>
                        
                        💡 <br> <br>
                    </div>
<br>
                    <div class="card-body">
                        <h2 class="text-center" style="text-decoration: underline;">Nos collaborateurs et partenaires internationnaux</h2>
                        <p class="px-2">
                            
🌐 Bâtissons ensemble l'avenir de la collaboration et de l'innovation! 🤝 <br><br>

Chez nous, à l'Université Catholique de Madagascar, l'excellence et l'innovation sont bien plus qu'un objectif - ce sont les piliers de notre engagement envers un monde meilleur. Nous croyons fermement que les partenariats stratégiques sont la clé pour atteindre nos aspirations les plus ambitieuses. <br><br>

Partenariats d'Avant-Garde :  <br>
Ensemble avec des institutions de renom et des entreprises innovantes, nous repoussons les frontières de la recherche, de l'éducation et de l'impact social. Ces alliances stratégiques nous permettent de naviguer audacieusement dans un monde en constante évolution, toujours à la recherche de solutions novatrices aux défis les plus complexes.<br><br>

Unis pour l'Innovation Industrielle : <br>
Nos collaborations avec l'industrie transcendent les frontières traditionnelles de l'enseignement supérieur. En travaillant main dans la main avec des leaders du secteur, nous favorisons l'émergence de nouvelles technologies, stimulons la croissance économique et formons la prochaine génération de visionnaires.<br><br>

Solutions Communautaires Durables : <br>
Au cœur de notre mission, il y a un engagement profond envers les communautés locales et internationales. Ensemble, nous élaborons des solutions durables pour relever les défis sociaux, économiques et environnementaux les plus pressants, créant ainsi un impact tangible et durable.<br><br>

Ouvrons de Nouvelles Voies Ensemble : <br>
Que vous soyez une institution académique, une entreprise dynamique ou une organisation communautaire engagée, nous sommes prêts à explorer de nouvelles opportunités de collaboration. Contactez-nous dès aujourd'hui pour découvrir comment nous pouvons conjuguer nos forces et façonner un avenir plus prometteur, ensemble. 🌟 <br><br>
                        </p>
                    </div>
                </div>
            </div>
            
           
            
        </div>
    
        <div class="col-md-3">
            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px;">
                    <a routerLink="/evenement"> 
                    <div class="team-style1 text-center">
                        <img src="assets/images/event.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Événements et activités</h3>
                            <span class="font-weight-600 text-secondary">Nous sommes impatients de vous accueillir à nos événements et de vous aider à tirer le meilleur parti de votre expérience à l'École Doctorale de l'Université Catholique de Madagascar.</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Événements et activités</a></h3>
                                    <p class="text-white mb-0">
                                        L'École Doctorale de l'Université Catholique de Madagascar offre une gamme dynamique d'événements et d'activités conçus pour enrichir l'expérience des étudiants, favoriser le réseautage académique et encourager le développement professionnel.  
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>

            <div class="pb-3">
                <div class="card">
                    <a routerLink="/success-stories">
                    <div class="team-style1 text-center">
                      <img src="assets/images/successstorie.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                      <h3 class="text-primary mb-1 h4">Témoignages d'étudiants</h3>
                      <span class="font-weight-600 text-secondary">Success storie, Doctorant</span>
                      </div>
                        <div class="team-overlay" style="background-color: darkred;">
                        <div class="d-table h-100 w-100">
                        <div class="d-table-cell align-middle">
                        <h3><a href="#" class="text-white">Témoignages d'étudiants</a></h3>
                        <p class="text-white mb-0">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                          
                        </p>
                        <ul class="social-icon-style1">
                          <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                          <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                          <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                        </ul>
                        </div>
                        </div>
                      </div>
                    </div>
                </a>
                  </div>
            </div>


        </div>
    </div>
    

</section>


  
