<section class="scholarships">
  <div class="row mt-2 px-2">
      <div class="col-md-3 px-1">
          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
                  <a routerLink="/domaine-de-recherche">
                  <div class="team-style1 text-center">
                      <img src="assets/images/infrastructure.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Domaine de recherche</h3>
                          <span class="font-weight-600 text-secondary">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Domaine de recherche</a></h3>
                                  <p class="text-white mb-0">
                                    Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%;">
                  <a routerLink="/projet-de-recherche">
                  <div class="team-style1 text-center">
                      <img src="assets/images/bourse.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Projet de recherche en cours</h3>
                          <span class="font-weight-600 text-secondary">Nous vous encourageons à consulter notre site web pour plus d'informations sur les types de bourses disponibles, les critères d'admissibilité et les dates limites de demande.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Projet de recherche en cours</a></h3>
                                  <p class="text-white mb-0">
                                      L'École Doctorale de l'Université Catholique de Madagascar s'engage à soutenir l'excellence académique et à offrir des opportunités équitables d'accès à l'éducation supérieure. Dans le cadre de cet engagement, nous proposons un certain nombre de bourses d'études aux étudiants exceptionnels qui démontrent un fort potentiel académique, une motivation exceptionnelle et un engagement envers l'excellence.
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%;">
                  <a routerLink="/partenariat">
                  <div class="team-style1 text-center">
                      <img src="assets/images/admissions.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Collaboration et Partenariat</h3>
                         
                          <span class="font-weight-600 text-secondary"> Le processus d'admission à l'École Doctorale de l'Université Catholique de Madagascar offre aux candidats du monde entier une opportunité d'intégrer une communauté académique dynamique via une évaluation minutieuse des dossiers .</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Collaboration et Partenariat</a></h3>
                                  <p class="text-white mb-0">
                                      L'École Doctorale de l'Université Catholique de Madagascar accueille les candidatures d'étudiants talentueux et motivés du monde entier. Notre processus d'admission est conçu pour identifier les candidats les plus prometteurs et leur offrir l'opportunité de rejoindre notre communauté académique dynamique. 
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>


      </div>


      <div class="col-md-6 px-1">
          <div class="pb-3">
              <div class="card">
                  <div class="card-body">
                      <h1 class="text-center" style="color: darkred;">Financement de la Recherche de l'école doctorale </h1>
                      <p class="px-2">
                         

Financement de la Recherche Universitaire<br><br>

Le financement de la recherche universitaire est la pierre angulaire de l'innovation et de la découverte. Il alimente les moteurs de progrès qui façonnent notre avenir. Découvrez comment les universités obtiennent les fonds nécessaires pour propulser la recherche en avant :<br><br>

Subventions gouvernementales : Les gouvernements investissent massivement dans la recherche, soutenant les universités dans leur quête de connaissances. Ces fonds servent à explorer des domaines cruciaux, de la santé à l'environnement en passant par la technologie.<br><br>

Subventions de recherche : Les chercheurs compétitifs peuvent obtenir des subventions pour financer leurs projets. Ces précieuses ressources proviennent de diverses sources telles que des organismes gouvernementaux, des fondations et des entreprises.<br><br>

Partenariats public-privé : Les collaborations avec le secteur privé permettent d'injecter des fonds dans la recherche appliquée et de concrétiser des innovations. Ces partenariats dynamiques favorisent également le transfert de connaissances et la création de solutions tangibles.<br><br>
                  </div>
<br>
                  <div class="card-body">
                      <h2 class="text-center" style="text-decoration: underline;">Ethique de la recherche</h2>
                      <p class="px-2">
                          
                        L'éthique de la recherche est un pilier essentiel de toute entreprise scientifique et académique. Elle repose sur des principes fondamentaux visant à garantir l'intégrité, la transparence et le respect des droits humains. Voici quelques-uns des défis et principes clés liés à l'éthique de la recherche :<br><br>

                        Respect de la dignité humaine : Tout projet de recherche doit respecter la dignité, l'autonomie et les droits fondamentaux des individus impliqués. Cela inclut le consentement éclairé, la confidentialité des données et la protection des participants vulnérables.<br><br>
                        
                        Intégrité scientifique : La recherche doit être menée avec honnêteté, impartialité et rigueur intellectuelle. Les chercheurs sont tenus de signaler tout conflit d'intérêts, de manipulations ou de distorsions de données, et de respecter les normes académiques et professionnelles.<br><br>
                        
                        Justice et équité : L'accès à la participation à la recherche doit être équitable et juste, sans discrimination fondée sur des critères tels que le sexe, la race, la religion ou le statut socio-économique. De plus, les avantages et les risques de la recherche doivent être répartis équitablement.<br><br>
                      </p>
                  </div>

                  <div class="card-body">
                    <h2 class="text-center" style="text-decoration: underline;">Impact de la recherche</h2>
                    <p class="px-2">
                        
                      La recherche joue un rôle crucial dans la compréhension du monde qui nous entoure et dans la résolution des défis auxquels l'humanité est confrontée. Son impact s'étend à tous les aspects de la société, façonnant l'avenir et apportant des changements significatifs. Voici quelques-uns des principaux domaines où la recherche a un impact :<br><br>

                      Avancées Scientifiques et Technologiques : La recherche alimente les progrès scientifiques et technologiques, ouvrant de nouvelles perspectives dans des domaines tels que la médecine, l'ingénierie, les sciences de l'espace, la biotechnologie et l'intelligence artificielle. Ces avancées transforment notre façon de vivre, de travailler et de communiquer.<br><br>
                      
                      Innovation et Développement Économique : Les découvertes de la recherche stimulent l'innovation et la croissance économique. Elles conduisent à la création de nouvelles industries, de produits et de services, générant des emplois et contribuant à la compétitivité mondiale des nations.<br><br>
                      
                      Amélioration de la Santé et du Bien-être : La recherche médicale permet de prévenir, diagnostiquer et traiter les maladies, améliorant ainsi la santé et le bien-être des individus. Elle contribue également à l'élaboration de politiques de santé publique efficaces et à la réduction des inégalités en matière de santé.<br><br>
                      
                      Durabilité Environnementale : La recherche joue un rôle crucial dans la compréhension et la préservation de l'environnement. Elle informe les politiques de conservation, la gestion des ressources naturelles et le développement de technologies propres, contribuant ainsi à la lutte contre le changement climatique et à la protection de la biodiversité.<br><br>
                    </p>
                </div>

              </div>
          </div>
          
         
          
      </div>
  
      <div class="col-md-3">
          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px;">
                  <a routerLink="/infrastructure-de-recherche"> 
                  <div class="team-style1 text-center">
                      <img src="assets/images/event.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Ressources de recherche</h3>
                          <span class="font-weight-600 text-secondary">Nous sommes impatients de vous accueillir à nos événements et de vous aider à tirer le meilleur parti de votre expérience à l'École Doctorale de l'Université Catholique de Madagascar.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Ressources de recherche</a></h3>
                                  <p class="text-white mb-0">
                                      L'École Doctorale de l'Université Catholique de Madagascar offre une gamme dynamique d'événements et d'activités conçus pour enrichir l'expérience des étudiants, favoriser le réseautage académique et encourager le développement professionnel.  
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card">
                  <a routerLink="/publication-realisation">
                  <div class="team-style1 text-center">
                    <img src="assets/images/successstorie.png" class="border-radius-5" alt="...">
                    <div class="team-info">
                    <h3 class="text-primary mb-1 h4">Publications et réalisations</h3>
                    <span class="font-weight-600 text-secondary">Success storie, Doctorant</span>
                    </div>
                      <div class="team-overlay" style="background-color: darkred;">
                      <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                      <h3><a href="#" class="text-white">Publications et réalisations</a></h3>
                      <p class="text-white mb-0">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                        
                      </p>
                      <ul class="social-icon-style1">
                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                      </ul>
                      </div>
                      </div>
                    </div>
                  </div>
              </a>
                </div>
          </div>

          <div class="pb-3">
            <div class="card" style="margin-bottom: 5px;">
                <a routerLink="/evenement"> 
                <div class="team-style1 text-center">
                    <img src="assets/images/event.png" class="border-radius-5" alt="...">
                    <div class="team-info">
                        <h3 class="text-primary mb-1 h4">Conférence et Evenements</h3>
                        <span class="font-weight-600 text-secondary">Nous sommes impatients de vous accueillir à nos événements et de vous aider à tirer le meilleur parti de votre expérience à l'École Doctorale de l'Université Catholique de Madagascar.</span>
                    </div>
                    <div class="team-overlay" style="background-color: darkred;">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <h3><a href="#" class="text-white">Conférence et Evenements</a></h3>
                                <p class="text-white mb-0">
                                    L'École Doctorale de l'Université Catholique de Madagascar offre une gamme dynamique d'événements et d'activités conçus pour enrichir l'expérience des étudiants, favoriser le réseautage académique et encourager le développement professionnel.  
                                </p>
                                <ul class="social-icon-style1">
                                    <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        </div>



      </div>
  </div>
  

</section>


