<section class="scholarships">
  
  <div class="row mt-2 px-2">
    
      <div class="col-md-3 px-2" >
        <div class="card" style="margin: 10px 10px 10px 10px;">
          <blockquote class="blockquote text-center">
              <p class="mb-0 font-weight-bold display-6"> les programmes de l'École Doctorale .</p><br>
              <footer class="blockquote-footer">École Doctorale - Université Catholique de Madagascar</footer>
          </blockquote>        
      </div>
      <div class="pb-3" style="border: 0cap;" *ngFor="let program of programmes$ | async; let i = index">
        <ng-container *ngIf="i < 2">
            <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
                <a routerLink="/tous-les-programmes">
                    <div class="team-style1 text-center">
                        <img src="https://ucm.mg/assets/images/data/training/training-theology.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">{{ program.nom }}</h3>
                            <span class="font-weight-600 text-secondary">{{ program.objectif }}</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">{{ program.nom }}</a></h3>
                                    <p class="text-white mb-0">
                                        {{ program.description }}
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>
    </div>
      <button routerLink="/tous-les-programmes" class="btn" style="background-color: darkred;color: white;margin-left: 30%;">Voir tous les programmes</button>
      

         

      </div>


      <div class="col-md-6 px-1">
          <div class="pb-3">
              <div class="card">
                  <div class="card-body">
                      <h1 class="text-center" style="color: darkred;">🚀 Perspectives de Carrière à l'École Doctorale de l'UCM</h1>
                      <p class="px-2">

                        À l'École Doctorale de l'UCM, nous sommes déterminés à offrir à nos étudiants des perspectives de carrière enrichissantes et diversifiées qui les préparent à exceller dans un monde en constante évolution. En tant que centre d'excellence académique, nous nous engageons à fournir à nos diplômés les compétences, les connaissances et les réseaux nécessaires pour réussir dans leur carrière professionnelle. 
                  </div>
<br>
                  <div class="card-body">
                      <h2 class="text-center" style="text-decoration: underline;">  📝 Processus de Candidature à l'École Doctorale de l'UCM</h2>
                      <p class="px-2">
                          
                      

                        Le processus de candidature à l'École Doctorale de l'UCM est conçu pour identifier et accueillir les meilleurs talents académiques et chercheurs prometteurs. Voici un aperçu du processus : <br><br>
                        
                        1. Exploration des Programmes<br>
                        Avant de postuler, les candidats sont encouragés à explorer les programmes de doctorat offerts par notre école et à identifier celui qui correspond le mieux à leurs intérêts de recherche et à leurs objectifs de carrière.<br><br>
                        
                        2. Préparation des Documents de Candidature<br>
                        Les candidats doivent rassembler les documents requis pour leur candidature, tels que les relevés de notes, les lettres de recommandation, les propositions de recherche, les CV, et tout autre document spécifique exigé par le programme choisi. <br><br>
                        
                        3. Soumission de la Candidature en Ligne <br>
                        Une fois les documents préparés, les candidats doivent soumettre leur candidature en ligne via notre plateforme dédiée. Le processus de candidature en ligne est convivial et guidé, ce qui facilite la soumission des documents requis.<br><br>
                        
                        4. Évaluation des Candidatures<br>
                        Les candidatures soumises sont examinées par un comité d'admission compétent, qui évalue les qualifications académiques, les compétences de recherche, l'adéquation du candidat avec le programme et d'autres critères pertinents.<br><br>
                      </p>
                  </div>

                  <div class="card-body">
                    <h2 class="text-center" style="text-decoration: underline;"> 💡 Opportunités et Financement à l'École Doctorale de l'UCM</h2>
                    <p class="px-2">
                        À l'École Doctorale de l'UCM, nous nous engageons à offrir à nos étudiants un large éventail d'opportunités académiques, de développement professionnel et de financement pour les soutenir dans leur parcours de doctorat. Voici un aperçu des opportunités et du financement disponibles : <br><br>
                        
                        1. Bourses d'Études<br>
                        Nous proposons différentes bourses d'études destinées à soutenir financièrement nos étudiants tout au long de leur doctorat. Ces bourses peuvent couvrir les frais de scolarité, les frais de subsistance et même offrir une allocation pour les dépenses de recherche.<br><br>
                        
                        2. Contrats de Recherche<br>
                        Nos étudiants ont la possibilité de décrocher des contrats de recherche rémunérés, soit en tant qu'assistants de recherche sur des projets spécifiques menés par nos professeurs, soit en tant que chercheurs indépendants sur des initiatives de recherche financées par des subventions externes.<br><br>
                        
                        3. Bourses de Mobilité<br>
                        Nous encourageons la mobilité internationale de nos étudiants en offrant des bourses de mobilité pour des séjours de recherche ou des collaborations dans des institutions partenaires à l'étranger. Ces bourses permettent d'élargir les horizons académiques et de développer des réseaux professionnels internationaux.<br><br>
                        
                        4. Financement de Conférences<br>
                        Nous soutenons la participation de nos étudiants à des conférences nationales et internationales en offrant un financement pour les frais de déplacement, d'inscription et d'hébergement. Cela leur offre l'opportunité de présenter leurs travaux de recherche et de réseauter avec des experts de leur domaine.
                    </p>
                </div>
                
              </div>
          </div>
          
         
          
      </div>
  
      <div class="col-md-3">
          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px;">
                  <a routerLink="/corps-professoral"> 
                  <div class="team-style1 text-center">
                      <img src="assets/images/professoral.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Encadrement par le corps professoral</h3>
                          <span class="font-weight-600 text-secondary">Nous sommes impatients de vous accueillir à nos événements et de vous aider à tirer le meilleur parti de votre expérience à l'École Doctorale de l'Université Catholique de Madagascar.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Encadrement par le corps professoral</a></h3>
                                  <p class="text-white mb-0">
                                      L'École Doctorale de l'Université Catholique de Madagascar offre une gamme dynamique d'événements et d'activités conçus pour enrichir l'expérience des étudiants, favoriser le réseautage académique et encourager le développement professionnel.  
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card">
                  <a routerLink="/recherche">
                  <div class="team-style1 text-center">
                    <img src="assets/images/infrastructure.png" class="border-radius-5" alt="...">
                    <div class="team-info">
                    <h3 class="text-primary mb-1 h4">Opportunités de recherche</h3>
                    <span class="font-weight-600 text-secondary">Opportunités de recherche</span>
                    </div>
                      <div class="team-overlay" style="background-color: darkred;">
                      <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                      <h3><a href="#" class="text-white">Opportunités de recherche</a></h3>
                      <p class="text-white mb-0">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                        
                      </p>
                      <ul class="social-icon-style1">
                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                      </ul>
                      </div>
                      </div>
                    </div>
                  </div>
              </a>
                </div>
          </div>

          <div class="pb-3">
            <div class="card">
                <a routerLink="/success-stories">
                <div class="team-style1 text-center">
                  <img src="assets/images/successstorie.png" class="border-radius-5" alt="...">
                  <div class="team-info">
                  <h3 class="text-primary mb-1 h4">Reussites des anciens éleves</h3>
                  <span class="font-weight-600 text-secondary">Success storie, Doctorant</span>
                  </div>
                    <div class="team-overlay" style="background-color: darkred;">
                    <div class="d-table h-100 w-100">
                    <div class="d-table-cell align-middle">
                    <h3><a href="#" class="text-white">Reussites des anciens éleves</a></h3>
                    <p class="text-white mb-0">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                      
                    </p>
                    <ul class="social-icon-style1">
                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                    </ul>
                    </div>
                    </div>
                  </div>
                </div>
            </a>
              </div>
        </div>

      </div>
  </div>
  

</section>










