<section class="scholarships">
    <div class="row mt-2 px-2">
        <div class="col-md-3 px-1">
            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
                  <a routerLink="/bourses-distincations">
                    <div class="team-style1 text-center">
                        <img src="assets/images/professoral.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Bourses et Distinctions pour Étudiants et Professeurs</h3>
                            <span class="font-weight-600 text-secondary">Nous sommes fiers d'offrir diverses bourses et distinctions qui célèbrent l'excellence académique, la recherche de pointe et le service remarquable à la communauté. Voici un aperçu de nos initiatives de reconnaissance</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Bourses et Distinctions pour Étudiants et Professeurs</a></h3>
                                    <p class="text-white mb-0">
                                      À l'École Doctorale de l'UCM, nous sommes fiers de notre équipe exceptionnelle de professeurs et de personnel dévoués. Ensemble, nous formons une communauté diversifiée et dynamique, unie par notre passion commune pour l'éducation et la recherche.
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
  
            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px; width: 100%;">
                  <a routerLink="/partenariat">
                    <div class="team-style1 text-center">
                        <img src="assets/images/admissions.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Partenariat et collaboration</h3>
                           
                            <span class="font-weight-600 text-secondary"> À l'École Doctorale de l'UCM, nous croyons fermement que les partenariats et les collaborations sont essentiels pour stimuler l'innovation, enrichir l'expérience des étudiants et promouvoir l'impact positif dans la société. Nous nous engageons à développer des relations stratégiques avec divers partenaires, tant au niveau local qu'international, afin de favoriser un échange dynamique de connaissances, de ressources et d'idées.</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Partenariat et collaboration</a></h3>
                                    <p class="text-white mb-0">
                                      Nous entretenons des partenariats solides avec des universités et des institutions de recherche de renommée mondiale. Ces collaborations nous permettent d'établir des ponts entre les disciplines, de partager des ressources et d'explorer de nouvelles avenues de recherche. Ensemble, nous repoussons les frontières de la connaissance et façonnons l'avenir de la recherche académique.
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
  
  
        </div>
  
  
        <div class="col-md-6 px-1">
            <div class="pb-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center" style="color: darkred;"> Réalisations significatives de l'École Doctorale</h1>
                        <p class="px-2">
                           

                            Publication de recherche de haute qualité : Notre école doctorale se distingue par la production régulière de recherches novatrices et influentes dans diverses revues de premier plan, conférences internationales et monographies académiques.
                        
                            Formation de chercheurs de haut niveau : Nous sommes fiers de former des doctorants compétents et talentueux qui contribuent de manière significative à leurs domaines de recherche respectifs, occupant souvent des postes de leadership académique et industriel.
                        
                            Collaborations interdisciplinaires réussies : Encourageant les partenariats interdisciplinaires, notre école favorise les avancées significatives en recherche en élargissant les perspectives et en favorisant l'innovation à travers les frontières disciplinaires.
                        
                            Création d'un environnement de recherche dynamique : Notre environnement de recherche dynamique offre des installations de pointe, un programme de mentorat efficace, des séminaires inspirants et des opportunités de réseautage qui stimulent la créativité et l'excellence académique.
                        
                            Impact sur la société : Au-delà de l'académie, nos recherches contribuent à résoudre des problèmes sociétaux, à améliorer la santé publique, à stimuler l'innovation technologique et à informer les politiques publiques, démontrant ainsi notre engagement envers le bien-être de la société.
                        
                            Reconnaissance nationale ou internationale : Les distinctions et les prix accordés à notre école doctorale, à nos membres du corps professoral et à nos étudiants témoignent de notre excellence et de notre impact dans le monde de la recherche.
                        
                            Accréditation et évaluation positive : Notre accréditation nationale et les évaluations positives par nos pairs attestent de la qualité et de la crédibilité de notre école doctorale et de nos programmes.
                    </div>   <br>

                  
  
                   
  
  
                </div>
            </div>
            
           </div>
    
        <div class="col-md-3">
            <div class="pb-3">
                <div class="card" style="margin-bottom: 5px;">
                  <a routerLink="/prix">
                    <div class="team-style1 text-center">
                        <img src="assets/images/realisations.png" class="border-radius-5" alt="...">
                        <div class="team-info">
                            <h3 class="text-primary mb-1 h4">Prix</h3>
                            <span class="font-weight-600 text-secondary">Ces prix visent à promouvoir l'excellence académique, l'innovation et l'impact sociétal au sein de l'École Doctorale, tout en reconnaissant et en valorisant les réalisations exceptionnelles de ses membres.</span>
                        </div>
                        <div class="team-overlay" style="background-color: darkred;">
                            <div class="d-table h-100 w-100">
                                <div class="d-table-cell align-middle">
                                    <h3><a href="#" class="text-white">Prix</a></h3>
                                    <p class="text-white mb-0">
                                        Ces prix visent à promouvoir l'excellence académique, l'innovation et l'impact sociétal au sein de l'École Doctorale, tout en reconnaissant et en valorisant les réalisations exceptionnelles de ses membres. 
                                    </p>
                                    <ul class="social-icon-style1">
                                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
            </div>
  
 
  
        </div>
    </div>
    
  
  </section>
  
  
  
  
  
  
  
  