<section class="scholarships">
  <div class="row mt-2 px-2">
      <div class="col-md-3 px-1">
          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%; margin-bottom: 20px;">
                <a routerLink="/corps-professoral">
                  <div class="team-style1 text-center">
                      <img src="assets/images/event.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Corps professoral et personnel</h3>
                          <span class="font-weight-600 text-secondary">Ensemble, notre corps professoral et notre personnel offrent un mentorat précieux et un soutien personnalisé à chaque étape du parcours académique de nos étudiants. Nous croyons en l'importance de la collaboration et de l'échange d'idées pour favoriser une culture de l'innovation et de l'excellence.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Corps professoral et personnel</a></h3>
                                  <p class="text-white mb-0">
                                    À l'École Doctorale de l'UCM, nous sommes fiers de notre équipe exceptionnelle de professeurs et de personnel dévoués. Ensemble, nous formons une communauté diversifiée et dynamique, unie par notre passion commune pour l'éducation et la recherche.
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%;">
                <a routerLink="/infrastructure-de-recherche">
                  <div class="team-style1 text-center">
                      <img src="assets/images/infrastructure.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Infrastructures de recherche</h3>
                          <span class="font-weight-600 text-secondary">À l'École Doctorale de l'UCM, nous croyons fermement que des infrastructures de recherche modernes et sophistiquées sont essentielles pour soutenir l'innovation et la découverte. Nous nous engageons à fournir à nos étudiants et chercheurs un accès à des installations de pointe qui stimulent l'excellence académique et favorisent la collaboration interdisciplinaire.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Infrastructures de recherche</a></h3>
                                  <p class="text-white mb-0">
                                    Nos infrastructures de recherche sont équipées des dernières technologies et équipements de pointe, permettant ainsi à nos chercheurs d'explorer des questions complexes et de mener des expériences de haut niveau. Des laboratoires spécialisés aux installations informatiques avancées, nous investissons dans des ressources de qualité pour soutenir nos activités de recherche.
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px; width: 100%;">
                <a routerLink="/partenariat">
                  <div class="team-style1 text-center">
                      <img src="assets/images/admissions.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Partenariat et collaboration</h3>
                         
                          <span class="font-weight-600 text-secondary"> À l'École Doctorale de l'UCM, nous croyons fermement que les partenariats et les collaborations sont essentiels pour stimuler l'innovation, enrichir l'expérience des étudiants et promouvoir l'impact positif dans la société. Nous nous engageons à développer des relations stratégiques avec divers partenaires, tant au niveau local qu'international, afin de favoriser un échange dynamique de connaissances, de ressources et d'idées.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Partenariat et collaboration</a></h3>
                                  <p class="text-white mb-0">
                                    Nous entretenons des partenariats solides avec des universités et des institutions de recherche de renommée mondiale. Ces collaborations nous permettent d'établir des ponts entre les disciplines, de partager des ressources et d'explorer de nouvelles avenues de recherche. Ensemble, nous repoussons les frontières de la connaissance et façonnons l'avenir de la recherche académique.
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>


      </div>


      <div class="col-md-6 px-1">
          <div class="pb-3">
              <div class="card">
                  <div class="card-body">
                      <h1 class="text-center" style="color: darkred;">Notre histoire</h1>
                      <p class="px-2">
                          🎓 Explorez de nouveaux horizons académiques à l'Université Catholique de Madagascar! 🌍 <br> <br>

Plongez dans l'aventure de l'admission à notre prestigieuse École Doctorale, où les esprits brillants du monde entier convergent pour façonner l'avenir de la recherche. 🚀  <br> <br> 

À travers un processus d'évaluation exigeant et éclairé, nous offrons aux passionnés de savoir une passerelle vers une communauté académique vibrante. Joignez-vous à nous pour repousser les frontières de la connaissance et embrasser l'excellence dans un environnement stimulant. 💡 <br> <br>
                  </div>
<br>
                  <div class="card-body">
                      <h2 class="text-center" style="text-decoration: underline;">🌍 Notre Vision et Nos Missions</h2>
                      <p class="px-2" >
                        L'Ecole Doctorale se donne comme objectif principal de former des chercheurs de haut niveau scientifique capables de :
                        <br>- porter réflexion sur l'Ethique sous ses diverses dimensions : religieuse et philosophique, économique, entrepreneuriale, développement...;
                        <br>- agir de façon conforme à cet esprit, dans un objectif de développement durable.
                        <br><br>
                        Dans ce cadre, l'Ecole Doctorale se propose de :
                        <br>- Former la relève du corps professoral de l'UCM
                        <br>- Favoriser un cadre de réflexion et de recherche scientifique
                        <br>- Apporter une culture multidisciplinaire dans le cadre de programme scientifique cohérent
                        <br>- Donner une visibilité internationale à son offre de formation
                        <br><br>
                        Pour mener à bien nos missions :
                        <br>• Le Conseil Scientifique de l'Ecole Doctorale veille à la qualité de la formation des étudiants en Master de l'UCM (s'assurer des qualités requises pour mener des recherches)
                        <br>• Un comité de sélection, constitué tous les ans, sélectionne les candidats postulant en première année de l'Ecole Doctorale EDHS -JP, selon des critères objectifs et dans le respect des textes (diplôme de Master ou équivalent).
                        <br>• Selon les cas, des aides et appuis à la recherche peuvent être proposés (aide à la mobilité, contrat doctoral sur un programme de recherche, ...)
                        <br>• L'Ecole Doctorale veille au respect de la charte de thèse (document signé par le doctorant et son directeur, les engageant à mener la thèse à son terme)
                        <br>• L'Ecole Doctorale organise la formation de façon à offrir les meilleures conditions de préparation et de soutenance de la thèse (voir formation infra).
                        <br>• L'Ecole Doctorale s'ouvre à l'extérieur (nationale, internationale) - conventions interuniversitaires - conventions avec des institutions professionnelles - promotion de cotutelles et/ou codirections de thèse
                    </p>
                    
                  </div>

                  <div class="card-body">
                    <h2 class="text-center" style="text-decoration: underline;"> 🌟 Engagement envers la Qualité et l'Excellence Académique</h2>
                    <p class="px-2">
                        
                     

                      À l'École Doctorale de l'UCM, notre engagement envers la qualité et l'excellence est le fondement même de notre mission. Nous nous efforçons constamment de maintenir des normes élevées dans tous les aspects de notre enseignement et de notre recherche. <br><br>
                    
                      Processus d'Évaluation Rigoureux<br>
                      Chaque étape de notre processus d'évaluation est minutieusement conçue pour garantir la qualité de nos programmes et de nos activités académiques. Des critères rigoureux sont appliqués pour sélectionner nos étudiants et évaluer la pertinence et l'impact de nos recherches. <br><br>
                      
                      Accréditations et Certifications<br>
                      Nous sommes fiers d'avoir obtenu des accréditations et des certifications qui témoignent de notre engagement envers l'excellence. Ces reconnaissances externes valident la qualité de nos programmes et nous motivent à poursuivre notre quête de perfectionnement continu.<br><br>
                    </p>
                </div>


              </div>
          </div>
          
         
          
      </div>
  
      <div class="col-md-3">
          <div class="pb-3">
              <div class="card" style="margin-bottom: 5px;">
                <a routerLink="/realisations">
                  <div class="team-style1 text-center">
                      <img src="assets/images/realisations.png" class="border-radius-5" alt="...">
                      <div class="team-info">
                          <h3 class="text-primary mb-1 h4">Realisations et distinctions</h3>
                          <span class="font-weight-600 text-secondary">À l'École Doctorale de l'UCM, nous sommes fiers de célébrer nos réalisations et les distinctions qui témoignent de notre engagement envers l'excellence académique et la recherche de pointe.</span>
                      </div>
                      <div class="team-overlay" style="background-color: darkred;">
                          <div class="d-table h-100 w-100">
                              <div class="d-table-cell align-middle">
                                  <h3><a href="#" class="text-white">Realisations et distinctions</a></h3>
                                  <p class="text-white mb-0">
                                    Ces réalisations et distinctions illustrent notre engagement continu à exceller dans tous les aspects de notre mission académique. Nous sommes déterminés à poursuivre sur cette voie, guidés par notre passion pour la recherche de pointe et notre désir de faire une différence positive dans le monde.  
                                  </p>
                                  <ul class="social-icon-style1">
                                      <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                      <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                      <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </a>
              </div>
          </div>

          <div class="pb-3">
              <div class="card">
                  <a routerLink="/success-stories">
                  <div class="team-style1 text-center">
                    <img src="assets/images/successstorie.png" class="border-radius-5" alt="...">
                    <div class="team-info">
                    <h3 class="text-primary mb-1 h4">Témoignages d'étudiants</h3>
                    <span class="font-weight-600 text-secondary">Success storie, Doctorant</span>
                    </div>
                      <div class="team-overlay" style="background-color: darkred;">
                      <div class="d-table h-100 w-100">
                      <div class="d-table-cell align-middle">
                      <h3><a href="#" class="text-white">Témoignages d'étudiants</a></h3>
                      <p class="text-white mb-0">Nous sommes dédiés à soutenir nos étudiants dans leur parcours académique et personnel en offrant des services tels que l'orientation académique, l'aide à la carrière et des ressources en matière de santé mentale.
                        
                      </p>
                      <ul class="social-icon-style1">
                        <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                        <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                        <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                      </ul>
                      </div>
                      </div>
                    </div>
                  </div>
              </a>
                </div>
          </div>

          <div class="pb-3">
            <div class="card" style="margin-bottom: 5px;">
              <a routerLink="/valeuretculture">
                <div class="team-style1 text-center">
                    <img src="assets/images/valeur.png" class="border-radius-5" alt="...">
                    <div class="team-info">
                        <h3 class="text-primary mb-1 h4">Valeurs et culture institutionnelle</h3>
                        <span class="font-weight-600 text-secondary">À l'École Doctorale de l'UCM, nos valeurs fondamentales et notre culture institutionnelle guident notre comportement, nos décisions et nos interactions au quotidien.</span>
                    </div>
                    <div class="team-overlay" style="background-color: darkred;">
                        <div class="d-table h-100 w-100">
                            <div class="d-table-cell align-middle">
                                <h3><a href="#" class="text-white">Valeurs et culture institutionnelle</a></h3>
                                <p class="text-white mb-0">
                                  Nous aspirons à l'excellence dans tout ce que nous entreprenons, que ce soit dans l'enseignement, la recherche ou le service à la communauté. Nous nous efforçons constamment d'atteindre les plus hauts standards de qualité et de nous surpasser dans nos réalisations académiques.  
                                </p>
                                <ul class="social-icon-style1">
                                    <li><a href="#!"><i class="fab fa-facebook-f">U</i></a></li>
                                    <li><a href="#!"><i class="fab fa-twitter">C</i></a></li>
                                    <li><a href="#!"><i class="fab fa-youtube">M</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        </div>

      </div>
  </div>
  

</section>







